<div class="container m-4">
  <h3>Observables</h3>
  <p>
    - Observable helps us to bring the asynchrous, dynamic or subject behaviour in our application. Observables are like a river where the flow of the water is a continuos process. If we connect a pipeline to get / subscribe the water / data from a tap, we will call the subscribe function. & when we don't need it we can simply unsubscribe.
    <br>
    - allows you to work with asynchronous code
    <br>
    - It needs to be imported from rxjs. It gives us various methods to transform the output by using pipe & then various methods into it like map, filter, buffer, bufferCount etc
  </p>
  <hr>
  <div class="row">
    <a routerLink="one">One Compo</a> &nbsp;&nbsp;|&nbsp;&nbsp;
    <a routerLink="two">Two Compo</a> &nbsp;&nbsp;|&nbsp;&nbsp;
    <a routerLink="three">Three Compo</a> 
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a routerLink="seven">Seven Compo</a> 
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a routerLink="eight">Eight Compo</a> 
  </div>
  <div class="row">
    <router-outlet></router-outlet>
    <!-- <div class="col-4"><app-one></app-one></div>
    <div class="col-4"><app-two></app-two></div>
    <div class="col-4"><app-three></app-three></div> -->
  </div>
</div>